<div style="height: 100%;">
  <div class="tabs-navbar">
    <Navbar [icon]="icon"
            [mode]="'light'"
            (onLeftClick)="event(data.events.onLeftClick,$event)"
            class="nav_title">
      变更管理
    </Navbar>
    <ng-template #icon>
      <Icon [type]="'left'" style="color:#000"></Icon>
    </ng-template>
  </div>
  <div class="tabs-container">
    <div class="flex-container">
      <div class="title-container">
        <Flex>
          <FlexItem>
            <Navbar class="single-top-nav-bar" (click)="event(data.events.clickTopYearFilter,$event)">{{data.year}}
            </Navbar>
          </FlexItem>
          <FlexItem>
            <Navbar class="single-top-nav-bar"
                    (click)="event(data.events.clickTopModelPlanFilter,$event)">{{data.modelPlan}}
            </Navbar>
          </FlexItem>
          <FlexItem>
            <Navbar class="single-top-nav-bar"
                    (click)="event(data.events.clickTopModelClassFilter,$event)">{{data.modelClass}}
            </Navbar>
          </FlexItem>
        </Flex>
        <Menu *ngIf="data.showYear && data.initDataYear" class="multi-foo-menu" [data]="data.dataYear"
              [multiSelect]="false"
              [level]="1" (onOk)="event(data.events.clickYearOk,$event)"
              (onCancel)="event(data.events.clickYearCancel,$event)"
              (onChange)="event(data.events.onSelectYearChange,$event)" [height]="menuHeight">
        </Menu>
        <Menu *ngIf="data.showModelPlan && data.initDataModelPlan" class="multi-foo-menu"
              [data]="data.initDataModelPlan"
              [level]="1" [multiSelect]="false" (onChange)="event(data.events.onSelectModelPlanChange,$event)"
              (onOk)="event(data.events.clickModelPlanOk,$event)"
              (onCancel)="event(data.events.clickModelPlanCancel,$event)" [height]="menuHeight">
        </Menu>
        <Menu *ngIf="data.showModelClass && data.initDataModelClass" class="multi-foo-menu"
              [data]="data.initDataModelClass"
              [level]="1" [multiSelect]="false" (onChange)="event(data.events.onSelectModelClassChange,$event)"
              (onOk)="event(data.events.clickModelClassOk,$event)"
              (onCancel)="event(data.events.clickModelClassCancel,$event)" [height]="menuHeight">
        </Menu>
        <div *ngIf="showYear && !initDataYear"
             style="width: 100% ;height: 200px; display: flex; justify-content: center; align-items: center">
          <ActivityIndicator [size]="'large'"></ActivityIndicator>
        </div>
        <div *ngIf="showYear" class="menu-mask2" (click)="event(data.events.onYearMaskClick,$event)"></div>
        <div *ngIf="showModelPlan && !initDataModelPlan"
             style="width: 100% ;height: 200px; display: flex; justify-content: center; align-items: center">
          <ActivityIndicator [size]="'large'"></ActivityIndicator>
        </div>
        <div *ngIf="showModelPlan" class="menu-mask2" (click)="event(data.events.onModelMaskPlanClick,$event)"></div>
        <div *ngIf="showModelClass && !initDataModelClass"
             style="width: 100% ;height: 200px; display: flex; justify-content: center; align-items: center">
          <ActivityIndicator [size]="'large'"></ActivityIndicator>
        </div>
        <div *ngIf="showModelClass" class="menu-mask2"
             (click)="event(data.events.onModelMaskClassClick,$event)"></div>

        <SearchBar [placeholder]="'输入合同号/合同名称/承担单位/承担人'" [(ngModel)]="data.searchObj.queryValue" [maxLength]="10"
                   (onChange)="event(data.events.onQueryValueChange,$event)"
                   (onClear)="event(data.events.onQueryValueClear,$event)"></SearchBar>
      </div>

      <div class="content-container">
        <div class="sub-title">变更列表</div>


        <Tabs [useOnPan]="true"
              [swipeable]="true"
              [activeTab]="0"
              [page]="2"
              [tabBarActiveTextColor]="'#1890ff'"
              (onChange)="onChange($event)"
              (onTabClick)="onTabClick($event)"
        >
          <TabPane style="height: 667px; width: 100%; "
                   [title]="titleTemplate"
          >
            <ng-template #titleTemplate>
              <Badge>
                <div>待审核</div>
              </Badge>
            </ng-template>
            <div>

              <div *ngIf="data.pageList.length>0">
                <div class="content" *ngFor="let mainObj of data.pageList"
                     (click)="event(data.events.navigatorDetail, mainObj, '1')">
                  <Flex [wrap]="'wrap'" direction="column" justify="start" align="start">
                    <FlexItem class="content-title">
                      {{mainObj.projectname}}
                    </FlexItem>
                    <FlexItem class="content-content">
                      <Flex direction="row" align="between">
                        <FlexItem class="content-content-left">{{mainObj.contractNo}}</FlexItem>
                        <FlexItem class="content-content-right">{{mainObj.status}}</FlexItem>
                      </Flex>
                    </FlexItem>
                    <FlexItem class="content-content1">
                      <Flex direction="row" align="start">
                        <FlexItem class="content-content1-left">{{mainObj.undertakeUnitName}}</FlexItem>
                        <FlexItem class="content-content1-right">{{mainObj.commitmentName}}</FlexItem>
                      </Flex>
                    </FlexItem>
                  </Flex>
                </div>
              </div>
              <div *ngIf="data.pageList.length==0">
                <div class="content">
                  <Flex [wrap]="'wrap'" direction="column" justify="start" align="start">
                    <FlexItem class="content-title">
                      没有任何项目数据！
                    </FlexItem>

                  </Flex>
                </div>
              </div>


            </div>
          </TabPane>
          <TabPane style="width: 100%;height: 100%;"
                   [title]="titleTemplate2"
          >
            <ng-template #titleTemplate2>
              <Badge>
                <div>已审核</div>
              </Badge>
            </ng-template>
            <div>


              <div *ngIf="data.pageResolveList.length>0">
                <div class="content" *ngFor="let mainObj of data.pageResolveList"
                     (click)="event(data.events.navigatorDetail,mainObj,'0')">
                  <Flex [wrap]="'wrap'" direction="column" justify="start" align="start">
                    <FlexItem class="content-title">
                      {{mainObj.projectname}}
                    </FlexItem>
                    <FlexItem class="content-content">
                      <Flex direction="row" align="between">
                        <FlexItem class="content-content-left">{{mainObj.contractNo}}</FlexItem>
                        <FlexItem class="content-content-right">{{mainObj.status}}</FlexItem>
                      </Flex>
                    </FlexItem>
                    <FlexItem class="content-content1">
                      <Flex direction="row" align="start">
                        <FlexItem class="content-content1-left">{{mainObj.undertakeUnitName}}</FlexItem>
                        <FlexItem class="content-content1-right">{{mainObj.commitmentName}}</FlexItem>
                      </Flex>
                    </FlexItem>
                  </Flex>
                </div>
              </div>
              <div *ngIf="data.pageRejectList.length>0">
                <div class="content" *ngFor="let mainObj of data.pageRejectList"
                     (click)="event(data.events.navigatorDetail,mainObj,'0')">
                  <Flex [wrap]="'wrap'" direction="column" justify="start" align="start">
                    <FlexItem class="content-title">
                      {{mainObj.projectname}}
                    </FlexItem>
                    <FlexItem class="content-content">
                      <Flex direction="row" align="between">
                        <FlexItem class="content-content-left">{{mainObj.contractNo}}</FlexItem>
                        <FlexItem class="content-content-right">{{mainObj.status}}</FlexItem>
                      </Flex>
                    </FlexItem>
                    <FlexItem class="content-content1">
                      <Flex direction="row" align="start">
                        <FlexItem class="content-content1-left">{{mainObj.undertakeUnitName}}</FlexItem>
                        <FlexItem class="content-content1-right">{{mainObj.commitmentName}}</FlexItem>
                      </Flex>
                    </FlexItem>
                  </Flex>
                </div>
              </div>
              <div *ngIf="data.pageResolveList.length === 0 && data.pageRejectList.length === 0">
                <div class="content">
                  <Flex [wrap]="'wrap'" direction="column" justify="start" align="start">
                    <FlexItem class="content-title">
                      没有任何项目数据！
                    </FlexItem>

                  </Flex>
                </div>
              </div>

            </div>
          </TabPane>
        </Tabs>


      </div>
    </div>
  </div>
</div>
