<div style="height: 100%;">

  <div class="tabs-navbar">
    <Navbar [icon]="icon"
            [mode]="'light'"
            (onLeftClick)="event(data.events.onLeftClick,$event)"
            class="nav_title">
      执行管理
    </Navbar>
    <ng-template #icon>
      <Icon [type]="'left'" style="color:#000"></Icon>
    </ng-template>
  </div>

  <div class="tabs-container">
    <div class="list_header"><span>基本信息</span></div>
    <List [className]="'my-list'">

      <ListItem [extra]="data.detailsContractData.commitmentName">承担人姓名</ListItem>
      <ListItem [extra]="data.detailsContractData.commitmentGender">承担人性别</ListItem>
      <ListItem [extra]="data.detailsContractData.commitmentAge">承担人年龄</ListItem>
      <ListItem [extra]="data.detailsContractData.commitmentPersonIDNo">承担人身份证号</ListItem>
      <ListItem [extra]="data.detailsContractData.commitmentPosition">承担人职务职称</ListItem>
      <ListItem [extra]="data.detailsContractData.contactPersonName">联系人</ListItem>
      <ListItem [extra]="data.detailsContractData.contactPersonPhone">联系人电话</ListItem>
      <ListItem [extra]="data.detailsContractData.year">课题年度</ListItem>
      <ListItem [extra]="data.detailsContractData.totalFunds">合同总经费</ListItem>
      <ListItem [extra]="data.detailsContractData.applicationTotalFunds">合同批准经费</ListItem>
      <ListItem [extra]="data.detailsContractData.applicationTotalFundsnNoVAT">甲方拨款（不含增值税）</ListItem>
      <ListItem [extra]="data.detailsContractData.VAT">增值税</ListItem>
      <ListItem [extra]="data.detailsContractData.beginDate">合同开始日期</ListItem>
      <ListItem [extra]="data.detailsContractData.bndDate">合同结束日期</ListItem>
      <ListItem [extra]="data.detailsContractData.status">合同信息状态（待填报、专业处审核通过、待审核等）</ListItem>
      <ListItem [extra]="data.detailsContractData.endMark">课题结题状态（已结题、未结题）</ListItem>
      <ListItem [extra]="data.detailsContractData.totalTopicName">总课题名</ListItem>
      <ListItem [extra]="data.detailsContractData.administratorName">管理人姓名</ListItem>
      <ListItem [extra]="data.detailsContractData.beginDate">合同开始日期</ListItem>
      <ListItem [extra]="data.detailsContractData.bndDate">合同结束日期</ListItem>
    </List>

    <div class="list_header"><span>链接资料</span></div>
    <List [className]="'my-list tohref_color'">
      <ListItem [arrow]="'horizontal'" (onClick)="event(data.events.navigatorToHref,$event)">国内外现状以及简要说明
      </ListItem>
      <ListItem [arrow]="'horizontal'" (onClick)="event(data.events.navigatorToHref,$event)">国内外现状以及简要说明
      </ListItem>
      <ListItem [arrow]="'horizontal'" (onClick)="event(data.events.navigatorToHref,$event)">国内外现状以及简要说明
      </ListItem>
      <ListItem [arrow]="'horizontal'" (onClick)="event(data.events.navigatorToHref,$event)">国内外现状以及简要说明
      </ListItem>
    </List>
    <WhiteSpace [size]="'lg'"></WhiteSpace>
    <Flex style="margin-bottom: 9px;">
      <FlexItem>
        <WingBlank>
          <div Button (onClick)="event(data.events.failClick,$event)">审核不通过</div>
        </WingBlank>
      </FlexItem>
      <FlexItem>
        <WingBlank>
          <div Button (onClick)="event(data.events.passedClick,$event)" [type]="'primary'" style="background: #2B88FF;">
            审核通过
          </div>
        </WingBlank>
      </FlexItem>
    </Flex>
  </div>
</div>
