<div style="height: 100%;">

  <div class="tabs-navbar">
    <Navbar [icon]="icon"
            [mode]="'light'"
            (onLeftClick)="event(data.events.onLeftClick,$event)"
            class="nav_title">
      变更管理
    </Navbar>
    <ng-template #icon>
      <Icon [type]="'left'" style="color:#000"></Icon>
    </ng-template>
  </div>

  <div class="tabs-container">
    <div class="list_header"><span>基本信息</span></div>
    <List [className]="'my-list'">
      <ListItem [extra]="data.detailsContractData.projectname">课题名称</ListItem>
      <ListItem [extra]="data.detailsContractData.projectCode">课题合同号</ListItem>
      <ListItem [extra]="data.detailsContractData.planTypeName">课题计划类型名称</ListItem>
      <ListItem [extra]="data.detailsContractData.undertakeUnitName">承担单位名称</ListItem>
      <ListItem [extra]="data.detailsContractData.commitmentName">承担人姓名</ListItem>
      <ListItem [extra]="data.detailsContractData.linklman">联系人</ListItem>
      <ListItem [extra]="data.detailsContractData.linkmanPhone">联系人电话</ListItem>
      <ListItem [extra]="data.detailsContractData.submitDate">变身申报书上报日期</ListItem>
      <ListItem [extra]="data.detailsContractData.deliveryProfessionalOfficeName">专业处</ListItem>
      <ListItem [extra]="data.detailsContractData.managerName">管理人</ListItem>
      <ListItem [extra]="data.detailsContractData.reason">变更理由/修改原因</ListItem>
      <ListItem [extra]="data.detailsContractData.oldContract">原合同约定</ListItem>
      <ListItem [extra]="data.detailsContractData.content">变更事项</ListItem>
      <ListItem [extra]="data.detailsContractData.recordName">变更类别</ListItem>

    </List>
    <div class="list_header"><span>链接资料</span></div>
    <List [className]="'my-list tohref_color'">
      <ListItem [arrow]="'horizontal'" *ngFor="let titles of data.detailsContractData.titles;let i = index" (onClick)="event(data.events.navigatorToContents,i)">{{titles}}
      </ListItem>
    </List>
    <WhiteSpace [size]="'lg'"></WhiteSpace>
    <Flex style="margin-bottom: 9px;" *ngIf="data.auditerstatus == 1">
      <FlexItem>
        <WingBlank>
          <div Button (onClick)="event(data.events.failClick,$event)">审核不通过</div>
        </WingBlank>
      </FlexItem>
      <FlexItem>
        <WingBlank>
          <div Button (onClick)="event(data.events.passedClick,$event)" [type]="'primary'" style="background: #2B88FF;">
            审核通过
          </div>
        </WingBlank>
      </FlexItem>
    </Flex>
  </div>
</div>
