<Navbar [mode]="'light'">首页
</Navbar>

<Flex class="index_page">
  <FlexItem class="index_flex_item">
    <div class="index_item" (click)="event(data.events.navigatorList,$event,1)"><img style="width: 40px;margin-bottom: 16px;" src="../../../assets/contractIcon.png" alt="img">合同管理</div>
  </FlexItem>
  <FlexItem class="index_flex_item">
    <div class="index_item" (click)="event(data.events.navigatorList,$event,2)"><img style="width: 40px;margin-bottom: 16px;" src="../../../assets/executeIcon.png" alt="img">执行管理
    </div>
  </FlexItem>
</Flex>
<Flex class="index_page">
  <FlexItem class="index_flex_item">
    <div class="index_item" (click)="event(data.events.navigatorList,$event,3)"><img style="width: 40px;margin-bottom: 16px;" src="../../../assets/changeIcon.png" alt="img">变更管理
    </div>
  </FlexItem>
  <FlexItem class="index_flex_item">
    <div class="index_item" (click)="event(data.events.navigatorList,$event,4)"><img style="width: 40px;margin-bottom: 16px;" src="../../../assets/acceptanceIcon.png" alt="img">验收管理
    </div>
  </FlexItem>
</Flex>
